<form ng-submit="submitName()" >
	<div class="modal fade" tabindex="-1" role="dialog" id="userModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Enter the chat...</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="user">Name:</label>
						<input type="text" class="form-control" id="user" name="user" ng-model='user' />
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" id="submit3" value="Enter chat" class="btn btn-primary"/>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</form>